body {
    font-family: Arial, sans-serif;
    background-image: url("https://tse3.mm.bing.net/th?id=OIP.iApVsqSNRuxoE1ynjRngOwHaEo&pid=Api&P=0&h=220");
    background-size: cover;
    text-align: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.4px);
    -webkit-backdrop-filter: blur(1.4px);
    border: 1px solid rgba(255, 255, 255, 0.41);
}

h1 {
    color: #333;
}

form {
    margin: 20px 0;
}

input[type="number"] {
    color: #333;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #8A8CE1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    font-size: 18px;
    color: #a50b0b;
    margin: 20px 0;
    background-color: rgba(182, 174, 187, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.headen{
    color: black;
}